  {% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="construction is awesome bootstrap responsive construction business theme">
    <meta name="keywords" content="construction, business, construction business, responsive, parallax, business theme">
    <meta name="author" content="templateninja">
    <title>VAMICO</title>
    <!-- Bootstrap -->
    <link href="{%static 'zaresapp/vamico/assets/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300,500" rel="stylesheet">
    <link href="{%static 'zaresapp/vamico/assets/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{%static 'zaresapp/vamico/assets/css/Pe-icon-7-stroke.css'%}" rel="stylesheet">
    <link href="{%static 'zaresapp/vamico/assets/css/owl.carousel.css'%}" rel="stylesheet">
    <link href="{%static 'zaresapp/vamico/assets/css/owl.theme.css'%}" rel="stylesheet">
    <link href="{%static 'zaresapp/vamico/assets/css/magnific-popup.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'zaresapp/vamico/assets/css/style.min.css'%}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/plugins/html5shiv.min.js"></script>
      <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    <style>
    .site-branding .site-title.title-image img {
        max-height: 60px;
        width: auto;
        margin-bottom: 5px;
    }
    .modal-content {
        border-radius: 0px;
    }
    @media (min-width: 768px){
      .modal-dialog {
          width: 90%;
          margin: 30px auto;
      }
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    </style>
  </head>
  <body id="home">
    <!-- begin:header -->
    <div class="header" data-parallax="scroll" data-image-src="{%static 'zaresapp/vamico/assets/img/img-header.jpg'%}">
      <!-- begin:topbar -->
      <div id="topbar" class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="nav-utility">
                <span class="nav-item">Empresa líder en abastecimiento de válbulas</span>
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-8 -->
            <div class="col-sm-4 hidden-xs">
              <div class="nav-utility nav-right">
                <a href="#" class="nav-item"><i class="fa fa-facebook"></i></a>
                <a href="#" class="nav-item"><i class="fa fa-youtube"></i></a>
              </div><!-- .nav-utility -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .topbar -->
      <!-- end:topbar -->

      <!-- begin:site-navigation -->
      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <h1 class="site-title title-image"><a href="#home" rel="home"><img src="{%static 'zaresapp/vamico/assets/img/img-logo.png'%}" alt="construction business" class="img-responsive"></a></h1>
                </div><!-- .site-branding -->
              </div><!-- .col-sm-3 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button type="button" class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                    <span class="fa fa-bars"></span>
                    <span class="sr-only">Primary Menu</span>
                  </button>
                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item current-menu-item"><a href="#home">Home</a></li>
                      <li class="menu-item"><a href="#service">Services</a></li>
                      <li class="menu-item"><a href="#work">Projects</a></li>
                      <li class="menu-item"><a href="#about">About</a></li>
                      <li class="menu-item"><a href="#testimonial">Testimonial</a></li>
                      <li class="menu-item"><a href="#contact">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-9 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
      <!-- end:site-navigation -->

      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="header-caption">
              <h2 class="caption-title">SERVICIO SUPERIOR EN EL ABASTECIMIENTO, DE VÁLVULAS, BRIDAS, CONEXIONES, Y TUBERIA ESPECIAL.</h2>
              <p>Somos una empresa formada en 1990 por un grupo de ingenieros de alto nivel y experiencia en las industrias del petróleo, gas, agua, eléctrica, con presencia principalmente en la industria Off-Shore, la Petroquímica y Refinación en general.</p>
              <div class="header-action-button">
                <a class="btn btn-warning btn-md" href="#">Conocer Más</a>
              </div><!-- header-action-button -->
            </div><!-- .header-caption -->
          </div><!-- .col-sm-5 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #header -->
    <!-- end:header -->

    <!-- begin:additional-info -->
    <div id="additional-info" class="additional-info block-section bg-grey padd-20-top padd-40-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <i class="fa fa-phone"></i>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Número de teléfono:</h4>
              <div class="contact-item-info">+52 (55 5 445 1880) 5445-1880</div>
              <div class="contact-item-info">+52 (55 5 445 1880) 5697-9711</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <i class="fa fa-envelope-o"></i>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Correo electrónico:</h4>
              <div class="contact-item-info">info@vamicomx.com</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <i class="fa fa-map-marker"></i>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Dirección:</h4>
              <div class="contact-item-info">Cuicacalli Mzna 23 Lote 1</div>
              <div class="contact-item-info">Estrella del Sur, Iztapalapa</div>
              <div class="contact-item-info">CP 09820, CDMX, MÉXICO</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <i class="fa fa-clock-o"></i>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Horaios:</h4>
              <div class="contact-item-info">Lun - Vie: 9:00 am - 6:00 pm </div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->
        </div><!-- .row -->
      </div><!-- container -->
    </div><!-- #additional-info -->
    <!-- end:additional-info -->

    <!-- begin:cta -->
    <div id="cta" class="cta block-section padd-40-top padd-40-btm bg-dark" style="padding: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12s">
            <h4>Por qué <strong>VAMICO</strong> es la mejor solución para mis proyectos?</h4>
            <p>Contámos con representaciones y alianzas estratégicas con compañías de alto prestigio a nivel mundial dentro de la indústria; así como acuerdos con empresas que cuentan con un stock disponible de 30 a 40 millones de dólares, lo que nos convierte en la mejor opción para ofrecer válvulas con tiempos de entrega muy cortos y urgentes.</p>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #cta -->
    <!-- end:cta -->

    <!-- begin:about -->
    <div id="about" class="block-section image-block">
      <div class="container-fluid">
        <div class="row">
          <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-01.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS DE BOLA</h2>
            <p>
              La gama de válvulas de bola con la que contamos va desde servicios generales hasta aplicaciones críticas como altas temperaturas, servicio corrosivo, servicio abrasivo, entre otros.<br/>Nuestras válvulas de bola están disponibles en una gran variedad de materiales, tal como; Acero al Carbón, Duplex, Super Duplex, Hastelloy y Titanio.
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#bola1">Trunnion API 6D Y API 6A</a>
              </li>
              <li role="presentation" class="">
                <a href="#why" role="tab" id="why-tab" data-toggle="modal" data-target="#bola2">Flotantes</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#bola3">Servicio Criogénico</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #about -->
    <!-- end:about -->

    <!-- begin:testimonial -->
    <div id="testimonial" class="block-section image-block bg-white">
      <div class="container-fluid container-no-padding">
        <div class="row row-no-margin">
          <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-03.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS DE COMPUERTA, GLOBO Y RETENCIÓN</h2>
            <p>
              Nuestras válvulas de compuerta, globo y retención son son ampliamente utilizadas en muchas industrias incluyendo:<br />
              Industrias de proceso: petróleo, química, petroquímica, refinación, papelera, farmacéutica y procesamiento de alimentos.<br />
              Industrias energéticas: nuclear, combustibles fósiles, ciclo combinado, cogeneración y calefacción urbana.<br />
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta1">Acero al carbón API 600</a>
              </li>
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta2">Acero forjado API 602</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta3">Tipo Disco Dual</a>
              </li>
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta4">Servicio Criogénico</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta5">Bonete a Presión (Pressure seal) de acero al carbón y forjado</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #testimonial -->
    <!-- end:testimonial -->

    <!-- begin:about -->
    <div id="about" class="block-section image-block">
      <div class="container-fluid">
        <div class="row">
          <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-02.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS DE COMPUERTA API 6D</h2>
            <p>
              La válvula de compuerta de Doble Expansión API 6D es una válvula cuyo elemento obturador se compone de dos piezas llamadas compuerta y segmento de caras paralelas, dichos elementos se mueven en el plano perpendicular al flujo.<br />
              El diseño de los asientos de este tipo de válvulas son estáticos,  por lo que su sellado no depende de la presión del fluido proporcionando un sello hermético activado mecánicamente. 
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#compuerta6">Paso completo (Thru Conduit Slab)</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#why" role="tab" id="why-tab" data-toggle="modal" data-target="#compuerta6">Doble Expansión (Thru Conduit Expanding)</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #about -->
    <!-- end:about -->

    <!-- begin:testimonial -->
    <div id="testimonial" class="block-section image-block bg-white">
      <div class="container-fluid container-no-padding">
        <div class="row row-no-margin">
          <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-04.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS DE MARIPOSA</h2>
            <p>
              El diseño de la válvula de triple excentricidad cuenta con una geometría única para evitar los típicos problemas asociados con el diseño de válvulas de mariposa de alto rendimiento.<br /> La geometría del conjunto triple elimina totalmente el rozamiento entre el anillo de sello montado en el disco de la válvula y el asiento del cuerpo durante la carrera completa de cierre o apertura de la válvula.
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa1">Triple excentricidad</a>
              </li>
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa2">Doble excentricidad</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa3">Servicio Criogénico</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #testimonial -->
    <!-- end:testimonial -->

    <!-- begin:about -->
    <div id="about" class="block-section image-block">
      <div class="container-fluid">
        <div class="row">
          <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-05.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS SUBMARINAS API 6DSS</h2>
            <p>
              El diseño de la válvula submarina, como cualquier componente crítico, debe cumplir con los estándares más estrictos de la industria incluyendo API 6A, API 6DSS y API 17D (ISO 10423, ISO 13628, ISO 14723). <br/>
              El diseño del cuerpo debe superar la presión hidrostática de aguas profundas e interna y externamente el diseño debe ser resistente a la corrosión. Combinando estos aspectos de diseño con la variabilidad en las presiones, el fluido de proceso / composición del gas y los diámetros de los orificios, muy rápidamente se puede ver que el diseño de la válvula submarina requiere una gran experiencia en ingeniería.
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#bola1">Válvula de Bola</a>
              </li>
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#bola3">Válvula de Retención</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#bola3">Válvula de Compuerta Paso completo</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#why" role="tab" id="why-tab" data-toggle="modal" data-target="#bola2">Válvula de Compuerta Doble Expansión </a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #about -->
    <!-- end:about -->

    <!-- begin:testimonial -->
    <div id="testimonial" class="block-section image-block bg-white">
      <div class="container-fluid container-no-padding">
        <div class="row row-no-margin">
          <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-06.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">VÁLVULAS AUTOMÁTICAS</h2>
            <p>
              Al combinar nuestra amplia experiencia en  la ingeniería y  en el campo VAMICO es capaz de producir sistemas completos para el servicio de automatización y control.
            </p>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa1">Válvulas de aislamiento de activación remota</a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa2">Válvulas On-Off, Válvulas de corte de emergencia </a>
              </li>
              <br />
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa3">Válvulas operadas con motor</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #testimonial -->
    <!-- end:testimonial -->

    <!-- begin:about -->
    <div id="about" class="block-section image-block">
      <div class="container-fluid">
        <div class="row">
          <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-07.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">BRIDAS Y CONEXIONES ESPECIALES</h2>
            <p>
              Nuestro inventario consiste en todos los tipos de bridas, conexiones soldables y conexiones roscadas. Manejamos una amplia gama de tamaños, materiales, y grados. El origen de los productos que manejamos principalmente es Americano, sin embargo cualquier origen está disponible a solicitud del cliente.
            </p>
            <h5>Conexiones soldables</h5>
            <p>
              Codos radio largo y corto, reducciones excéntricas y concéntricas, tee’s rectas y reducidas.
            </p>
            <h5>Conexiones soldables</h5>
            <p>
              Conexiones soldables y roscadas: en clase 3000 y 6000 libras. <br />
              Codos, tee’s, tee´s reducidas, tuercas unión. <hr />

              <strong>Manejamos materiales estándar y nos especializamos  en materiales de aleación tal como:</strong>
              <br />A/SA234 WP1, WP5, WP9, WP11, WP22, WP91
              <br />A/SA182 F1, F5, F9, F11, F22, F9
            </p>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #about -->
    <!-- end:about -->

    <!-- begin:testimonial -->
    <div id="testimonial" class="block-section image-block bg-white">
      <div class="container-fluid container-no-padding">
        <div class="row row-no-margin">
          <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
            <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-content-08.jpg'%}');"></div>
          </div><!-- .image-block-item -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
      <div class="container clear">
        <div class="row">
          <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-60-btm">
            <h2 class="marg-20-btm" style="font-size:25px;">TUBERÍA ESPECIAL</h2>
            <small style="color: #acacac;">Tipos de válvulas</small>
            <hr />
            <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
              <li role="presentation" class="">
                <a href="#who" id="who-tab" role="tab" data-toggle="modal" data-target="#mariposa1">Tuberia especial</a>
              </li>
            </ul>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #testimonial -->
    <!-- end:testimonial -->

    <!-- begin:contact -->
    <div id="contact" class="contact image-block">
      <div class="container clear">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 padd-40-top padd-80-btm">
            <h2>CONTACTO</h2>
            <p>Ingresa tus datos, nos pondremos en contacto contigo a la brevedad.</p>
            <form class="contact-form">
              <div class="form-group">
                <label for="contact_name">Nombre</label>
                <input type="text" class="form-control form-bordered" id="contact_name">
              </div>
              <div class="form-group">
                <label for="contact_email" class="form-label">Email</label>
                <input type="email" class="form-control form-bordered" id="contact_email">
              </div>
              <div class="form-group">
                <label for="contact_message" class="form-label">Mensaje</label>
                <textarea class="form-control form-bordered" rows="6" id="contact_message"></textarea>
              </div>
              <button type="submit" class="button btn-squar btn-roundede">Enviar Mensaje</button>
            </form><!-- .contact-form -->
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #contact -->
    <!-- end:contact -->

    <!-- begin:client -->
    <div id="client" class="client block-section bg-white padd-20-top padd-20-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="slider-thumbnail" class="owl-carousel owl-theme client-slider slider-carousel navigation-hide">
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand1.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand2.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand3.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand4.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand5.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
              <div class="item">
                <a href="#">
                  <img src="{%static 'zaresapp/vamico/assets/img/brand6.jpg'%}" style="max-width: 100px;" alt="client">
                </a>
              </div><!-- .item -->
            </div><!-- #slider-thumbnail -->
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- #client -->
    <!-- end:client -->

    <!-- begin:footer -->
    <footer id="colophon" class="site-footer bg-black" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <section class="widget">
              <img src="{%static 'zaresapp/vamico/assets/img/img-logo.png'%}" style="max-width:100px" alt="bootstrap theme for construction companies" class="img-responsive marg-20-btm marg-20-top">
              <p>Construction company based on Orange, California. Construction was very sufficient in maintaining the integrity of project in terms of planning, scheduling, cost and quality.</p>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-2 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Company</h3>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Selected Work</a></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Services</h3>
              <ul>
                <li><a href="#">Metal Roofting</a></li>
                <li><a href="#">Green Building</a></li>
                <li><a href="#">Construction Consultant</a></li>
                <li><a href="#">Construction Management</a></li>
                <li><a href="#">General Contracting</a></li>
              </ul>
            </section><!-- .widget -->
          </div><!-- .col-## -->

          <div class="col-md-3 col-sm-6">
            <section class="widget">
              <h3 class="widget-title">Our Contact</h3>
              <p>5252 E Walnut Ave, Orange, California, United States.</p>
              <p>hello@construction.me<br>+62 (0) 274 441 5005</p>
            </section>
          </div><!-- .col-## -->
        </div><!-- .row -->
      </div><!-- .container -->
    </footer><!-- #colophon -->
    <!-- end:footer -->

    <!-- Modal -->
    <div class="modal fade" id="bola1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Trunnion API 6D Y API 6A</h4>
          </div>
          <div class="modal-body">
           <!-- begin:testimonial -->
            <div id="testimonial" class="block-section image-block bg-white">
              <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                  <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-service-01-1.jpg'%}');background-size: contain;"></div>
                  </div><!-- .image-block-item -->
                </div><!-- .row -->
              </div><!-- .container-fluid -->
              <div class="container clear">
                <div class="row">
                  <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-100-btm">
                    <h2 class="marg-40-btm text-center">TABLA TÉCNICA</h2>
                    <table class="table table-hover">
                      <tbody>
                          <tr>
                              <th scope="row">Clase</th>
                              <td> 150 a 2500 (API 6D) <br /> API 2000 a 15000 (API 6A) </td>
                          </tr>
                          <tr>
                              <th scope="row">Diámetro</th>
                              <td> 1" a 42" (API 6D) <br /> 2" a 34" (API 6A) </td>
                          </tr>
                          <tr>
                              <th scope="row">Conexiones</th>
                              <td> RF, RTJ, WE, BW, HUB</td>
                          </tr>
                          <tr>
                              <th scope="row">Diseño</th>
                              <td> 
                                API 6D<br/>
                                API 6A<br/>
                                NRF-211-PEMEX-2008<br/>
                                NRF-204-PEMEX-2012<br/>
                                API 607<br/>
                                API 6FA<br/>
                                BS 6755<br/>
                                ISO 15548-1, ISO 15548-2 (Emisiones Fugitivas)<br/>
                                ISO 5208 (Rangos de Fuga A)<br/>
                                Rango de temperatura desde – 196 °C hasta + 450 °C<br/>
                                SIL 1-3<br/>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tipo de Cuerpo</th>
                              <td> 
                                Side Entry<br/>
                                Top Entry<br/>
                                Fully Welded<br/>
                                Modular DBB<br/>
                                3 Vías<br/>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Materiales de Construcción</th>
                              <td> 
                                Acero al Carbón Forjado<br/>
                                Acero Inoxidable y Duplex<br/>
                                Aleaciones<br/>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Recubrimientos</th>
                              <td> 
                                Alloy 625<br/>
                                Tungsten Carbide<br/>
                                Stainless Steel<br/>
                                Chromium Carbide<br/>
                                Stellite<br/>
                                ENP<br/>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Opciones</th>
                              <td> 
                                Asiento Suave <br />
                                Asiento Metálico<br />
                                Asiento Doble Efecto Pisto<br />
                                Recubrimientos en componentes de sellado<br />
                                Recubrimientos en cuerpo<br />
                                NACE MR-0175<br />
                                NACE MR-0103<br />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div><!-- .col-## -->
                </div><!-- .row -->
              </div><!-- .container -->
            </div><!-- #testimonial -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bola2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Flotantes</h4>
          </div>
          <div class="modal-body">
           <!-- begin:testimonial -->
            <div id="testimonial" class="block-section image-block bg-white">
              <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                  <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-service-01-1.jpg'%}');"></div>
                  </div><!-- .image-block-item -->
                </div><!-- .row -->
              </div><!-- .container-fluid -->
              <div class="container clear">
                <div class="row">
                  <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-100-btm">
                    <h2 class="marg-40-btm text-center">TABLA TÉCNICA</h2>
                    <table class="table table-hover">
                      <tbody>
                          <tr>
                              <th scope="row">Clase</th>
                              <td> 150-600 <br /> 800-2500 </td>
                          </tr>
                          <tr>
                              <th scope="row">Diámetro</th>
                              <td> ½”-8”</td>
                          </tr>
                          <tr>
                              <th scope="row">Conexiones</th>
                              <td> RF, RTJ, WE, BW, HUB, THD, SW </td>
                          </tr>
                          <tr>
                              <th scope="row">Diseño</th>
                              <td> 
                                ASME B16.34 <br />
                                API 608 <br />
                                API 607<br />
                                ISO 15548-1, ISO 15548-2 (Emisiones Fugitivas)<br />
                                API 6D <br />
                                BS EN ISO 17292.<br />
                                API 598<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tipo de Cuerpo</th>
                              <td> 
                                Puerto Completo<br />
                                Puerto Reducido<br />
                                Uni-Body<br />
                                2 piezas<br />
                                3 piezas<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Materiales de Construcción</th>
                              <td> 
                                Acero al Carbón Fundido y Forjado<br />
                                Acero Inoxidable <br />
                                Bronce<br />
                                Hierro Dúctil<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Recubrimientos</th>
                              <td> 
                                NACE MR-0175<br />
                                NACE MR-0103<br />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div><!-- .col-## -->
                </div><!-- .row -->
              </div><!-- .container -->
            </div><!-- #testimonial -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bola3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Servício Criogénico</h4>
          </div>
          <div class="modal-body">
           <!-- begin:testimonial -->
            <div id="testimonial" class="block-section image-block bg-white">
              <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                  <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-service-01-1.jpg'%}');"></div>
                  </div><!-- .image-block-item -->
                </div><!-- .row -->
              </div><!-- .container-fluid -->
              <div class="container clear">
                <div class="row">
                  <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-100-btm">
                    <h2 class="marg-40-btm text-center">TABLA TÉCNICA</h2>
                    <table class="table table-hover">
                      <tbody>
                          <tr>
                              <th scope="row">Clase</th>
                              <td> 
                                150 a 2500 (API 6D)<br />
                                API 2000 a 15000 (API 6FA)<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Diámetro</th>
                              <td> ½"-36" </td>
                          </tr>
                          <tr>
                              <th scope="row">Conexiones</th>
                              <td> RF, RTJ, WE </td>
                          </tr>
                          <tr>
                              <th scope="row">Diseño</th>
                              <td> 
                                API 6D <br />
                                API 6A <br />
                                ASME B16.34 <br />
                                PED <br />
                                EN 12567 <br />
                                Shell MESC SPE 77/306 <br />
                                BS 6364:1984 <br />
                                BS EN 1626:2008 <br />
                                BS EN 13648-1:2008 <br />
                                Hasta menos 196°C <br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tipo de Cuerpo</th>
                              <td> 
                                Side Entry <br />
                                Top Entry <br />
                                Fully Welded <br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Materiales de Construcción</th>
                              <td> 
                                Acero Inoxidable y Duplex <br />
                                Aleaciones <br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Recubrimientos</th>
                              <td> 
                                Alloy 625 <br />
                                Tungsten Carbide <br />
                                Chromium Carbide <br />
                                Stellite <br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Opciones</th>
                              <td> 
                                Asiento Suave  <br />
                                Asiento Metálico <br />
                                NACE MR-0175 <br />
                                NACE MR-0103 <br />
                                Bonete Extendido de acuerdo a especificaciones de cliente. <br />
                                Configuración de relevo de cavidad  <br />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div><!-- .col-## -->
                </div><!-- .row -->
              </div><!-- .container -->
            </div><!-- #testimonial -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="compuerta1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Acero al Carbón</h4>
          </div>
          <div class="modal-body">
           <!-- begin:testimonial -->
            <div id="testimonial" class="block-section image-block bg-white">
              <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                  <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-service-01-1.jpg'%}');"></div>
                  </div><!-- .image-block-item -->
                </div><!-- .row -->
              </div><!-- .container-fluid -->
              <div class="container clear">
                <div class="row">
                  <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-100-btm">
                    <h2 class="marg-40-btm text-center">TABLA TÉCNICA</h2>
                    <table class="table table-hover">
                      <tbody>
                          <tr>
                              <th scope="row">Clase</th>
                              <td> 
                                150 a 1500
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Diámetro</th>
                              <td> 2" a 64" </td>
                          </tr>
                          <tr>
                              <th scope="row">Conexiones</th>
                              <td> RF, RTJ, WE  </td>
                          </tr>
                          <tr>
                              <th scope="row">Diseño</th>
                              <td> 
                                API 600<br />
                                ISO 10434<br />
                                ASME B16.34<br />
                                ASME B16.10<br />
                                ASME B16.5/B16.10/B16.47 A&B<br />
                                ISO 15548-1, ISO 15548-2 (Emisiones Fugitivas)<br />
                                API 598<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Características</th>
                              <td> 
                               Compuerta solida o Flexible<br />
                                Asientos soldados o atornillados<br />
                                Bonete Atornillado o Soldado<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Materiales de Construcción</th>
                              <td> 
                                Acero al Carbón Fundido<br />
                                WCB. WC6, WC9, C5, C12, LCB, LCC, LC2, CF8M, CF3M, entre otros<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Internos</th>
                              <td> 
                                API 600 TRIM CHART<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Opciones</th>
                              <td> 
                                Carga Viva en Compuerta y Globo<br />
                                NACE MR-0175<br />
                                NACE MR-0103<br />
                                Extensión de Vástago de acuerdo a necesidades del cliente.<br />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div><!-- .col-## -->
                </div><!-- .row -->
              </div><!-- .container -->
            </div><!-- #testimonial -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="compuerta2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Bonete a presión de acero #####XXXX </h4>
          </div>
          <div class="modal-body">
           <!-- begin:testimonial -->
            <div id="testimonial" class="block-section image-block bg-white">
              <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                  <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background" style="background-image: url('{%static 'zaresapp/vamico/assets/img/img-service-01-1.jpg'%}');"></div>
                  </div><!-- .image-block-item -->
                </div><!-- .row -->
              </div><!-- .container-fluid -->
              <div class="container clear">
                <div class="row">
                  <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-20-top padd-100-btm">
                    <h2 class="marg-40-btm text-center">TABLA TÉCNICA</h2>
                    <table class="table table-hover">
                      <tbody>
                          <tr>
                              <th scope="row">Clase</th>
                              <td> 
                                150 a 2500<br />
                                800,1500<br /> 
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Diámetro</th>
                              <td> ¼” a 4” <br /> </td>
                          </tr>
                          <tr>
                              <th scope="row">Conexiones</th>
                              <td> RF, RTJ, WE, SW, THD, BW<br />  </td>
                          </tr>
                          <tr>
                              <th scope="row">Diseño</th>
                              <td> 
                                API 602<br />
                                API 603<br />
                                ASME B16.34<br />
                                ASME B16.10<br />
                                ASME B16.5/B16.10<br />
                                ISO 15548-1, ISO 15548-2 (Emisiones Fugitivas)<br />
                                API 598<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Características</th>
                              <td> 
                                Puerto convencional<br />
                                Puerto completo<br />
                                Bonete Atornillado o Soldado<br />
                                Bonete Vertical/ Inclinado / Y<br />
                                Válvulas de Retención tipo Pistón, Bola, Columpio<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Materiales de Construcción</th>
                              <td> 
                                Acero al Carbón Fundido<br />
                                WCB. WC6, WC9, C5, C12, LCB, LCC, LC2, CF8M, CF3M, entre otros<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Internos</th>
                              <td> 
                                13% Cr, 316, Monel, Hastelloy,<br />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Opciones</th>
                              <td> 
                                NACE MR-0175<br />
                                NACE MR-0103<br />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div><!-- .col-## -->
                </div><!-- .row -->
              </div><!-- .container -->
            </div><!-- #testimonial -->
          </div>
        </div>
      </div>
    </div>

    <!-- begin:copyright -->
    <section id="copyright" class="copyright bg-black">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 copy-left">
            <p>Powered by &copy; 2017 <a href="http://templateninja.net"><strong>ZARESDELWEB</strong></a>.</p>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- #copyright -->
    <!-- begin:copyright -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{%static 'zaresapp/vamico/assets/plugins/jquery.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/parallax.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/js/navigation.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/jquery.easing.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/jquery.magnific-popup.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/isotope.pkgd.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/owl.carousel.min.js'%}"></script>
    <script src="{%static 'zaresapp/vamico/assets/plugins/gmap3.min.js'%}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtR223ih2ZwVJX2SGBixD3p87Aa8RV2Is"></script>
    <script src="{%static 'zaresapp/vamico/assets/js/script.min.js'%}"></script>
  </body>
</html>
