{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | Contacto{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
{%endblock%}

{%block content%}
  <section class="slider-revolution">
    <div class="rev_slider_wrapper">
       <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
          <ul>
             <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                 data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                 data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{%static 'zaresapp/finezipo/assets/custom/images/rs-images/05.jpg'%}" alt="fullslide2"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <div class="tp-caption cap-title font-accident-two-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="40"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="950"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     data-fontsize="['36','34','30','20']"
                     data-lineheight="['120','100','90','80']"
                     style="z-index: 2;">CONTACTANOS PARA MAS INFORMACIÓN
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="55"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1500"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">Nos pondremos en contacto a la brevedad
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                     data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']"
                     data-y="bottom"
                     data-voffset="0"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                     data-responsive_offset="on"
                     data-responsive="off"
                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">ENVIAR DATOS
                </div>
             </li>
          </ul>
          <div class="tp-bannertimer"></div>
       </div>
    </div>
 </section>

  <section class="e-block-short bg-color01">
    <div class="container-fluid padding-side-50">
       <div class="e-divider-2"></div>
        {%if not mensaje%}
           <form id="form" method="post" enctype="multipart/form-data" class="m-t">{% csrf_token %}
              <div class="row">
                 <div class="col-md-4">
                    <p><label>Tu Nombre*</label><input type="text" name="nombre" placeholdeer="Ingresa tu nombre" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                 </div>
                 <div class="col-md-4">
                    <p><label>Tu Email*</label><input type="text" name="email" placeholdeer="Ingresa tu email" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                 </div>
                 <div class="col-md-4">
                    <p><label>Tu Empresa</label><input type="text" name="empresa" placeholdeer="Ingresa el nombre de tu empresa" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                 </div>
                 <div class="col-md-12">
                    <p><label>Tu Mensaje</label><textarea  name="mensaje" placeholdeer="Ingresa tu mensaje" cols="60" rows="3" class="" aria-invalid="false"></textarea></p>
                 </div>
              </div>
              <div class="e-divider-2"></div>
              <p><button type="submit" class="btn btn-lg btn-blk">CONTACTARME</button></p>
           </form>
        {%else%}
            <h4>{{mensaje}}</h4>
        {%endif%}
    </div>
  </section>
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

