{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | {{artista|upper}}{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
.navbar .navbar-nav > li > a {
    color: #000;
}
@media (max-width: 768px){
  .cbp-af-header {
    background: #000;
    background-color: rgba(0, 0, 0, 0.23);
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.cbp-af-header.cbp-af-header-shrink {
    background: rgba(255, 255, 255, .6);
}
navbar h1 a{
    color: #000!important;
}
.navbar h1 small{
    color: #000;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar h1 a {
    color: #000;
}
{%endblock%}

{%block content%}
  <section id="port-item-details">
    <div class="container-fluid padding-side-60">

       <div class="e-divider-8"></div>
       <div class="post-header">
          <h2 class="e-uppercase" style="margin-top: 35px;">Igor super shore</h2>
          <div class="e-divider-2"></div>
       </div>
       <div class="e-divider-4"></div>
       <div class="row">
          <div class="col-md-4">
             <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/1-min.jpg'%}" class="img-responsive">
             <div class="e-divider-2"></div>
             <ul class="jobinfo">
                <p><strong>PROXIMAS FECHAS</strong></p>
                <li>LUGAR @ <span>02.03.2016</span></li>
                <li>LUGAR @ <span>02.03.2016</span></li>
                <li>LUGAR @ <span>02.03.2016</span></li>
                <li>LUGAR @ <span>02.03.2016</span></li>
             </ul>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
             <h3 class="font-accident-two-normal e-uppercase">BIO</h3>
             <div class="e-divider-2"></div>
             <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.
             </p>

             <div class="e-divider-6"></div>

             <div class="row">
                <div class="col-md-12 padding-side-50 bg-color01">

                   <div class="e-divider-4"></div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">PRESENCIA</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">CARNAVALES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">INAUGURACIONES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-6">
                      <h4 class="font-accident-two-normal e-uppercase">FIESTAS PRIVADAS</h4>
                      <div class="e-divider-4"></div>
                   </div>

                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="portfolio" class="e-block e-block-skin pt-section">
    <div class="light">
       <div class="container-fluid text-center padding-side-60">
          <h3 class="font-accident-two-normal e-uppercase">GALERIA</h3>
          <div class="e-divider-8"></div>
       </div>
       <div class="grid container-fluid ">
          <div id="posts" class="row popup-container">
             <div class="grid-item grid-sizer posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/1-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/2-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/3-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/4-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/5-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/6-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/7-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/8-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/9-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/10-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/11-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/12-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>
             <div class="grid-item posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/igor/14-min.jpg'%}" class="img-responsive" alt="igor"/>
                   </figure>
                </div>
             </div>

          </div>
       </div>
       <div class="e-divider-6"></div>
    </div>
 </section>
 <!-- /Portfolio Block  -->
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

