{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | FineZipo{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
{%endblock%}

{%block content%}
 <section class="slider-revolution">
    <div class="rev_slider_wrapper">
       <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
          <ul>
             <!-- SLIDE  -->
             <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                 data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                 data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{%static 'zaresapp/finezipo/assets/custom/images/rs-images/01.jpg'%}" alt="fullslide2"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="75"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1000"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">EMPRESA DEDICADA A LAS RELACIONES PUBLICAS, PRENSA,
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="55"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1500"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">MANAGEMENT, EVENTOS Y CAMPAÑAS PUBLICITARIAS.
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                     data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']"
                     data-y="bottom"
                     data-voffset="0"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                     data-responsive_offset="on"
                     data-responsive="off"
                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">NUESTROS ARTISTAS
                </div>

             </li>
             <!-- SLIDE  -->
             <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                 data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                 data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{%static 'zaresapp/finezipo/assets/custom/images/rs-images/02.jpg'%}" alt="fullslide2"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="75"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1000"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">EMPRESA DEDICADA A LAS RELACIONES PUBLICAS, PRENSA,
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="55"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1500"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">MANAGEMENT, EVENTOS Y CAMPAÑAS PUBLICITARIAS.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                     data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']"
                     data-y="bottom"
                     data-voffset="0"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                     data-responsive_offset="on"
                     data-responsive="off"

                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">NUESTROS ARTISTAS
                </div>

             </li>

             <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                 data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                 data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{%static 'zaresapp/finezipo/assets/custom/images/rs-images/04.jpg'%}" alt="fullslide2"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="75"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1000"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">EMPRESA DEDICADA A LAS RELACIONES PUBLICAS, PRENSA,
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="55"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1500"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">MANAGEMENT, EVENTOS Y CAMPAÑAS PUBLICITARIAS.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                     data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']"
                     data-y="bottom"
                     data-voffset="0"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                     data-responsive_offset="on"
                     data-responsive="off"

                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">NUESTROS ARTISTAS
                </div>

             </li>

             

             <!-- SLIDE  -->
             <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                 data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                 data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{%static 'zaresapp/finezipo/assets/custom/images/rs-images/03.jpg'%}" alt="fullslide2"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="75"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1000"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">EMPRESA DEDICADA A LAS RELACIONES PUBLICAS, PRENSA,
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption cap-sub-subtitle font-regular-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                     data-x="center"
                     data-y="bottom"
                     data-basealign="grid"
                     data-voffset="55"
                     data-hoffset="0"
                     data-width=”auto”
                     data-height=”auto”
                     data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-start="1500"
                     data-splitin=”none”
                     data-splitout=”none”
                     data-responsive_offset=”on”
                     style="z-index: 2;">MANAGEMENT, EVENTOS Y CAMPAÑAS PUBLICITARIAS.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                     data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']"
                     data-y="bottom"
                     data-voffset="0"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:700;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                     data-responsive_offset="on"
                     data-responsive="off"

                     style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">NUESTROS ARTISTAS
                </div>

             </li>


          </ul>
          <div class="tp-bannertimer"></div>
       </div>

    </div>
 </section>
 <!-- /Revolution Slider -->


 <!--  Portfolio Block  -->
 <section id="artistas" class="e-block e-block-skin pt-section" data-stellar-background-ratio="0.5" data-name="artistas">

    <div class="light">

       <div class="dividewhite4"></div>

       <div class="grid container-fluid ">

          <div id="posts" class="row popup-container">

            <a href="{%url 'finezipo_artistas' 'manelyk'%}">
                <div class="grid-item posters misc col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/01-01.jpg'%}" class="img-responsive img-models" alt="img11"/>
                       </figure>
                    </div>
                </div>
            </a>
           
            <a href="{%url 'finezipo_artistas' 'lorena'%}">
                 <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/03-01.jpg'%}" class="img-responsive img-models" alt="img11"/>
                       </figure>
                    </div>
                 </div>
            </a>
            <a href="{%url 'finezipo_artistas' 'vanessa'%}">
                <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/09-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                       </figure>
                    </div>
                </div>
            </a>
             
             <a href="{%url 'finezipo_artistas' 'esteban'%}">
                <div class="grid-item grid-sizer posters col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/04-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                        </figure>
                    </div>
                </div>
            </a>
            
             <a href="{%url 'finezipo_artistas' 'elettra'%}">
                 <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/05-01.jpg'%}" class="img-responsive img-models" alt="img11"/>
                       </figure>
                    </div>
                 </div>
            </a>
             <a href="{%url 'finezipo_artistas' 'jawi'%}">
                 <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/08-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                       </figure>
                    </div>
                 </div>
            </a>
             <a href="{%url 'finezipo_artistas' 'fernando'%}">
                 <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/07-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                       </figure>
                    </div>
                 </div>
            </a>
            <a href="{%url 'finezipo_artistas' 'sabrina'%}">
                 <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/02-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                       </figure>
                    </div>
                 </div>
            </a>
             <a href="{%url 'finezipo_artistas' 'igor'%}">
                 <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                    <div class="item-wrap">
                       <figure class="effect-goliath">
                          <img src="{%static 'zaresapp/finezipo/assets/custom/images/portfolio/thumbs/06-01.jpg'%}" class="img-responsive img-models" alt="img03"/>
                       </figure>
                    </div>
                 </div>
            </a>

             
          </div>
       </div>
    </div>
 </section>
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

