{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | {{artista|upper}}{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
.navbar .navbar-nav > li > a {
    color: #000;
}
@media (max-width: 768px){
  .cbp-af-header {
    background: #000;
    background-color: rgba(0, 0, 0, 0.23);
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.cbp-af-header.cbp-af-header-shrink {
    background: rgba(255, 255, 255, .6);
}
navbar h1 a{
    color: #000!important;
}
.navbar h1 small{
    color: #000;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar h1 a {
    color: #000;
}
{%endblock%}

{%block content%}
  <section id="port-item-details">
    <div class="container-fluid padding-side-60">

       <div class="e-divider-8"></div>
       <div class="post-header">
          <h2 class="e-uppercase" style="margin-top: 35px;">VANNESSA HUPPENKOTHEN</h2>
          <div class="e-divider-2"></div>
       </div>
       <div class="e-divider-4"></div>
       <div class="row">
          <div class="col-md-4">
             <img src="{%static 'zaresapp/finezipo/assets/custom/images/vanessahuppenkothen/2.jpg'%}" class="img-responsive">
             <div class="e-divider-2"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            {%comment%}
             <h3 class="font-accident-two-normal e-uppercase">BIO</h3>
             <div class="e-divider-2"></div>
             <p>
                 Desde su llegada a México, vanessahuppenkothen Claudio ha alcanzado grande éxito en el campo de la actuación, modelaje y televisión. Su trabajo más reconocido ha aparecido en episodios de serie de TV como el Pantera ,trabajando además como reportera de TV en Tal show Venga la Alegría, además ha hecho numerosas portadas de Revistas que incluyen la MAX y H cual es la publicación líder para caballeros en México.
             </p>


             <p>
                <strong>Sueña en grande</strong>
             </p>

             <div class="e-divider-6"></div>
             {%endcomment%}

             <div class="row">
                <div class="col-md-12 padding-side-50 bg-color01">
                   <div class="e-divider-4"></div>
                   <div class="col-md-6">
                      <h4 class="font-accident-two-normal e-uppercase">CARNAVALES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-6">
                      <h4 class="font-accident-two-normal e-uppercase">CONDUCCION</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-12">
                      <h4 class="font-accident-two-normal e-uppercase">INAUGURACIONES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="portfolio" class="e-block e-block-skin pt-section" style="margin-top:35px;">
    <div class="light">
       <div class="container-fluid text-center padding-side-60">
          <h3 class="font-accident-two-normal e-uppercase">GALERIA</h3>
          <div class="e-divider-8"></div>
       </div>
       <div class="grid container-fluid ">
          <div id="posts" class="row popup-container">
             <a href="{%static 'zaresapp/finezipo/assets/custom/images/vanessahuppenkothen/1.jpg'%}" download>
             <div class="grid-item grid-sizer posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/vanessahuppenkothen/1.jpg'%}" class="img-responsive" alt="vanessahuppenkothen"/>
                   </figure>
                </div>
             </div>
              </a>
             <a href="{%static 'zaresapp/finezipo/assets/custom/images/vanessahuppenkothen/2.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/vanessahuppenkothen/2.jpg'%}" class="img-responsive" alt="vanessahuppenkothen"/>
                   </figure>
                </div>
             </div>
              </a>
          </div>
       </div>
       <div class="e-divider-6"></div>
    </div>
 </section>
 <!-- /Portfolio Block  -->
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

